# Backend
fastapi
uvicorn
pydantic
python-dotenv
requests

# Frontend
streamlit
plotly
folium
streamlit-folium

# Data
pandas
numpy
scikit-learn
matplotlib

# AI / NLP
torch
transformers
sentence-transformers
faiss-cpu
camel-tools


# Geospatial
geopandas
shapely
pyproj
fiona
folium
streamlit-folium
networkx
